.searchResults {
  margin: 30px auto;
  padding: 0;
  columns: 250px auto;
  width: 85vw;
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .searchResults {
    columns: 200px auto;
  }
}

@media only screen and (min-width: 321px) and (max-width: 500px) {
  .searchResults {
    columns: 175px auto;
  }
}

@media only screen and (max-width: 320px) {
  .searchResults {
    columns: 150px auto;
  }
}
