.imageListItem {
  display: inline-block; /* necessary to stop wrapping from column to column */
}

.imageListItem a {
  text-decoration: none;
}

.searchResult {
  margin-bottom: 15px;
  border: solid 10px #333;
  border-radius: 5px;
  background: black;
}

.searchResult:hover {
  filter: brightness(150%);
  -webkit-filter: brightness(150%);
  -moz-filter: brightness(150%);
  -o-filter: brightness(150%);
  -ms-filter: brightness(150%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.searchResultTitle {
  padding: 15px 10px 5px 10px;
  color: white;
  background: #333;
}
