.searchResults {
  margin: 30px auto;
  padding: 0;
  columns: 250px auto;
  width: 85vw;
  display: block;
}

@media only screen and (max-width: 599px) {
  .searchResults {
    columns: 150px auto;
  }
}
